<% filter_keys ||= []
filter_params = params.fetch(:query, ActionController::Parameters.new).permit(*filter_keys)
active_filters = filter_params.to_h.reject { |_, v| v.blank? } %>

<% if active_filters.any? %>
  <div class="flex flex-wrap items-center gap-2">
    <% active_filters.each do |key, value| %>
      <div class="badge badge-soft badge-info">
        <strong class="font-semibold"><%= value %></strong>

        <%= link_to url_for(params.to_unsafe_h.merge(query: filter_params.except(key))),
		    data: { turbo: "false" },
		    class: "hover:opacity-75 hover:text-error" do %>
          <%= icon("close", class: "size-[1em]") %>
        <% end %>
      </div>
    <% end %>

    <%= link_to url_for(params.to_unsafe_h.merge(query: filter_params.except(*filter_keys))),
		data: { turbo: "false" },
		class: "btn btn-xs btn-ghost" do %>
      <%= t("search.reset") %>
    <% end %>
  </div>
<% end %>
