<div class="hero min-h-screen relative bg-base-100">
  <div class="hero-content flex-col lg:flex-row-reverse gap-12 relative">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold"><%= t('global.sign_in', default: "Accedi qui") %></h1>
      <p class="py-6"><%= t('global.sign_in_comp', default: "per utilizzare il sistema ActiveCore") %></p>
    </div>

    <%= form_with url: session_url, class: "contents" do |form| %>
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-md border p-4">
        <legend class="fieldset-legend">Login</legend>

        <%= form.label :username, class: "label" %>
        <%= form.text_field :username,
	  required: true,
	  autofocus: true,
	  autocomplete: "username",
	  placeholder: "Inserisci il tuo username", value: params[:username],
	  class: "input w-full" %>

        <%= form.label :password, class: "label" %>
        <%= form.password_field :password,
	 required: true,
	 autocomplete: "current-password",
	 placeholder: "Inserisci la tua password",
	 maxlength: 72,
	 class: "input w-full" %>

        <%= form.submit "Entra", class: "btn btn-neutral mt-4" %>

        <%# = link_to "Forgot password?", new_password_path, class: "text-gray-700 underline hover:no-underline" %>
      </fieldset>
    <% end %>
  </div>
</div>
