<tr id="<%= dom_id(discipline) %>_row">
  <%# NOME %>
  <td class="pl-6 font-bold text-lg">
    <%= link_to discipline.name, discipline, class: "hover:underline decoration-primary decoration-2 underline-offset-2" %>
  </td>

  <%# REGOLE (Badge) %>
  <td class="text-center">
    <div class="flex justify-center gap-2">
      <%# Badge Certificato Medico %>
      <% if discipline.requires_medical_certificate? %>
        <div
          class="badge badge-error badge-outline gap-1 text-xs font-bold"
          title="Richiede Certificato Medico"
        >
          <%= icon("medical_services", size: 12) %> Cert. Medico
        </div>
      <% else %>
        <div
          class="
            badge badge-ghost badge-outline gap-1 text-xs opacity-30
            strike-through
          "
        >
          No Cert.
        </div>
      <% end %>

      <%# Badge Membership %>
      <% if discipline.requires_membership? %>
        <div
          class="badge badge-info badge-outline gap-1 text-xs font-bold"
          title="Richiede Iscrizione/Tesseramento"
        >
          <%= icon("card_membership", size: 12) %> Iscrizione
        </div>
      <% end %>
    </div>
  </td>

  <%# CONTEGGIO PRODOTTI %>
  <td class="text-right pr-6 font-mono opacity-60">
    <%= discipline.products.count %>
  </td>

  <%# AZIONI %>
  <td class="text-right w-[5%] pr-4 align-middle">
    <div class="join">
      <%= link_to [discipline],
		  class: "join-item btn btn-square btn-xs btn-ghost text-base-content/60" do %>
        <%= icon("view", size: 16) %>
      <% end %>

      <%= link_to [:edit, discipline],
		  class: "join-item btn btn-square btn-xs btn-ghost text-base-content/60",
		  data: { turbo_frame: "modal" } do %>
        <%= icon("edit", size: 16) %>
      <% end %>

      <%= link_to [discipline],
		  class: "join-item btn btn-square btn-xs btn-ghost text-base-content/60",
		  data: { turbo_method: :delete, turbo_confirm: t("global.confirm") } do %>
        <%= icon("delete", size: 16) %>
      <% end %>
    </div>
  </td>
</tr>
