<%= form_with(model: discipline, class: "space-y-6") do |f| %>
  <%= render "shared/form_errors", model: discipline %>

  <%# --- SEZIONE 1: INFO GENERALI --- %>
  <fieldset class="fieldset bg-base-100 border border-base-300 p-4 rounded-box shadow-sm">
    <legend class="fieldset-legend">
      <%= icon("fitness_center", size: 14) %> Info Disciplina
    </legend>

    <%# NOME %>
    <div>
      <%= f.label :name, "Nome Disciplina", class: "label" %>

      <%= f.text_field :name, 
          required: true, 
          class: "input w-full text-lg", 
          placeholder: "Es. Sala Pesi, Yoga, Pilates..." %>
    </div>
  </fieldset>

  <%# --- SEZIONE 2: REGOLE DI ACCESSO --- %>
  <fieldset class="fieldset bg-base-100 border border-base-300 p-4 rounded-box shadow-sm">
    <legend class="fieldset-legend">
      <%= icon("shield", size: 14) %> Regole di Accesso
    </legend>

    <%# TOGGLE CERTIFICATO %>
    <div
      class="tooltip"
      data-tip="Se attivo, il sistema bloccherà l'ingresso
		ai tornelli e segnalerà l'anomalia se il certificato è scaduto o
		mancante."
    >
      <label class="label overflow-x-auto">
        <%= f.check_box :requires_medical_certificate, class: "toggle toggle-error" %> Richiede Certificato Medico?
      </label>
    </div>

    <div class="divider my-2 opacity-50"></div>

    <%# TOGGLE MEMBERSHIP %>
    <div
      class="tooltip"
      data-tip="Se attivo, verificherà che l'utente abbia
		pagato la quota associativa (tesseramento) valida per l'anno corrente."
    >
      <label class="label">
        <%= f.check_box :requires_membership, class: "toggle toggle-info" %> Richiede Iscrizione Annuale?
      </label>
    </div>
  </fieldset>

  <%# --- AZIONI --- %>
  <div class="modal-action mt-8 flex items-center justify-end gap-2">
    <%= link_to "Annulla", disciplines_path, class: "btn btn-ghost" %>

    <%= button_tag "Salva Disciplina", type: "submit",
		   class: "btn btn-primary",
		   data: {
		     turbo_submits_with: '<span class="loading loading-dots loading-sm"></span> Salvataggio...'
		   } %>
  </div>
<% end %>
