<%= turbo_stream_from "disciplines" %>

<% content_for :page_title, "Discipline" %>

<%# content_for :page_counter, t("search.results", count: @pagy.count) %>

<% content_for :page_actions do %>
  <%= link_to [:new, :discipline],
	      class: "btn btn-primary gap-2",
	      data: { turbo_frame: "modal" } do %>
    <%= icon("add", size: 20) %>
    <span class="hidden sm:inline"><%= t("actions.new", default: "Nuova") %></span>
  <% end %>
<% end %>

<!-- TODO filters -->

<%= render "shared/header/page" %>

<%= render "shared/filter/active", filter_keys: @keys %>

<%= render "shared/table", pagy: @pagy do %>
  <thead>
    <tr>
      <th class="pl-6 w-1/3">Nome</th>
      <th class="text-center">Regole Accesso</th>
      <th class="text-right pr-6">Prodotti Collegati</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="disciplines">
    <%= render partial: "discipline_row", collection: @disciplines, as: :discipline %>

    <% if @disciplines.empty? %>
      <td colspan="4">
        <%= render "shared/empty_state", 
        icon_name: "group_off", 
        title: t("search.results.zero"), 
        message: t("search.results.hint") %>
      </td>
    <% end %>
  </tbody>
<% end %>
