<%# Locals: subscription %>
<% member = subscription.member 
   is_expired = subscription.end_date < Date.current 
   days_diff = (Date.current - subscription.end_date).to_i.abs %>

<tr>
  <td>
    <% if is_expired %>
      <div class="inline-grid *:[grid-area:1/1] me-2">
        <div class="status status-error animate-ping"></div>
        <div class="status status-error"></div>
      </div>
      <span class="text-xs font-bold text-red-700 uppercase tracking-wide">
        Scaduto
      </span>
    <% else %>
      <div class="status status-success me-2"></div>
      <span class="text-xs font-bold text-green-700 uppercase tracking-wide">
        Attivo
      </span>
    <% end %>
  </td>

  <td>
    <div class="flex items-center">
      <div class="avatar avatar-placeholder">
        <div class="rounded-full w-10" style="<%= member.avatar_color_style %>">
          <span class="font-bold font-mono text-3xl sm:text-lg">
            <%= member.initials %>
          </span>
        </div>
      </div>

      <div class="ml-4">
        <%= link_to member.full_name, member_path(member), class: "font-bold text-base-content hover:text-primary transition-colors truncate" %>
      </div>
    </div>
  </td>

  <td>
    <span class="badge badge-ghost text-xs">
      <%= display_value(subscription.product.name) %>
    </span>
  </td>

  <td>
    <div class="flex flex-col">
      <span class="text-sm font-mono font-medium tabular-nums <%= is_expired ? 'text-red-700' : 'text-gray-900' %>">
        <%= format_date(subscription.end_date, format: :default) %>
      </span>

      <span class="text-xs mt-0.5 <%= is_expired ? 'text-red-500 font-medium' : 'text-gray-400' %>">
        <% if is_expired %>
          Scaduto da
          <%= days_diff %>
          gg
        <% else %>
          Scade tra
          <%= days_diff %>
          gg
        <% end %>
      </span>
    </div>
  </td>

  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <%= link_to new_sale_path(member_id: member.id, renew_subscription_id: subscription.id),
		class: "btn btn-primary gap-2",
		data: { turbo_frame: "modal" } do %>
      <%= icon("reset", size: 20) %>
      Rinnova
    <% end %>
  </td>
</tr>
