<tr id="<%= dom_id(user) %>_row">
  <%# UTENTE (Avatar + Nome) %>
  <td>
    <div class="flex items-center gap-3">
      <div class="avatar avatar-placeholder">
        <div class="rounded-full w-10" style="<%= user.avatar_color_style %>">
          <span class="font-bold font-mono"><%= user.initials %></span>
        </div>
      </div>

      <div>
        <%= link_to [user],
		    class: "font-bold text-base-content hover:text-primary transition-colors truncate" do %>
          <%= highlight user.full_name, params.dig(:query, :query) %>
        <% end %>

        <div class="font-mono text-sm opacity-50">
          Creato il <%= format_date(user.created_at) %>
        </div>
      </div>
    </div>
  </td>

  <%# USERNAME %>
  <td class="font-mono text-sm font-bold opacity-80">@<%= user.username %></td>

  <%# RUOLO %>
  <td class="text-center">
    <% if user.admin? %>
      <div class="badge badge-primary badge-outline font-bold gap-1">
        <%= icon("shield", size: 12) %> Admin
      </div>
    <% else %>
      <div class="badge badge-ghost gap-1">
        <%= icon("badge", size: 12) %> Staff
      </div>
    <% end %>
  </td>

  <%# EMAIL %>
  <td class="text-sm">
    <%= mail_to user.email_address, class: "link link-hover opacity-70 flex items-center gap-1" do %>
      <%= icon("mail", size: 14) %>
      <%= user.email_address %>
    <% end %>
  </td>

  <%# AZIONI %>
  <td class="text-right w-1 pr-4 align-middle">
    <div class="join">
      <%= link_to [user],
		  class: "join-item btn btn-square btn-xs btn-ghost tooltip tooltip-left",
		  data: { tip: "Dettaglio" } do %>
        <%= icon("view", size: 16) %>
      <% end %>

      <%= link_to [:edit, user],
		  class: "join-item btn btn-square btn-xs btn-ghost tooltip tooltip-left",
		  data: { tip: "Modifica", turbo_frame: "modal" } do %>
        <%= icon("edit", size: 16) %>
      <% end %>

      <%= link_to [user],
		  class: "join-item text-error btn btn-square btn-xs btn-ghost tooltip tooltip-left",
		  data: {
		    tip: "Archivia",
		    turbo_method: :delete,
		    turbo_confirm: "Sei sicuro di voler revocare l'accesso a #{user.username}?"
		  } do %>
        <%= icon("delete", size: 16) %>
      <% end %>
    </div>
  </td>
</tr>
