<% title ||= ""
  size ||= :default 

  modal_box_classes = case size.to_sym
    when :large
      "w-11/12 max-w-5xl"
    when :extra_large
      "w-11/12 max-w-7xl"
    when :full
      "w-[98%] max-w-none h-[95%]"
    else 
      ""
  end %>

<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal" class="w-full h-full">
    <dialog class="modal modal-bottom sm:modal-middle modal-open">
      <%# Aggiungiamo qui la classe calcolata %>
      <div class="modal-box relative <%= modal_box_classes %>">
        <button
          type="button"
          class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          data-action="click->modal#close"
        >
          <%= icon("close", size: 20) %>
        </button>

        <h3 class="font-bold text-lg mb-6 pr-8"><%= title %></h3>

        <%= yield %>
      </div>

      <button
        type="button"
        class="modal-backdrop w-full h-full fixed inset-0 -z-10 cursor-default"
        data-action="click->modal#close"
      >
        close
      </button>
    </dialog>
  </div>
<% end %>
