<%= form_with model: feedback, class: "flex flex-col gap-4", data: { turbo_frame: "_top" } do |f| %>
  <%= f.hidden_field :page_url %>

  <div class="form-control">
    <%= f.label :message, "Come possiamo aiutarti?", class: "label label-text font-medium" %>

    <%= f.text_area :message, 
        rows: 4, 
        class: "textarea textarea-bordered h-32 w-full focus:outline-indigo-500", 
        placeholder: "Ho trovato un errore in... / Vorrei che ci fosse...", 
        required: true,
        autofocus: true %>

    <% if feedback.errors[:message].any? %>
      <label class="label">
        <span class="label-text-alt text-error">
          <%= feedback.errors[:message].join(", ") %>
        </span>
      </label>
    <% end %>
  </div>

  <div class="modal-action flex justify-end gap-2">
    <button
      type="button"
      class="btn btn-ghost"
      onclick="document.getElementById('feedback_overlay').innerHTML = ''"
    >
      Annulla
    </button>

    <%= f.submit "Invia Feedback", class: "btn btn-neutral text-white" %>
  </div>
<% end %>
