<tr id="<%= dom_id(product) %>_row">
  <%# NOME %>
  <td class="pl-6 font-bold text-lg">
    <%= link_to product.name, product, class: "hover:underline decoration-primary decoration-2 underline-offset-2" %>
  </td>

  <%# DISCIPLINE %>
  <td>
    <div class="flex flex-wrap gap-1">
      <% if product.disciplines.any? %>
        <% product.disciplines.each do |d| %>
          <span class="badge badge-sm badge-ghost"><%= d.name %></span>
        <% end %>
      <% else %>
        <span class="text-xs opacity-40 italic">Nessuna</span>
      <% end %>
    </div>
  </td>

  <%# DURATA %>
  <td class="text-center font-mono text-sm">
    <%= display_value(product.duration_days) %> gg
  </td>

  <%# CATEGORIA CONTABILE %>
  <td class="text-center">
    <% if product.associative? %>
      <span class="badge badge-info badge-outline text-xs">
        Q. Associativa
      </span>
    <% else %>
      <span class="badge badge-warning badge-outline text-xs">
        Q. Istituzionale
      </span>
    <% end %>
  </td>

  <%# PREZZO %>
  <td class="text-right pr-6 font-mono font-bold text-lg">
    <%= format_money(product.price) %>
  </td>

  <%# AZIONI %>
  <td class="text-right w-1 pr-4 align-middle">
    <div class="join">
      <%= link_to [:edit, product],
		  class: "join-item btn btn-square btn-xs btn-ghost tooltip tooltip-left",
		  data: { tip: "Modifica", turbo_frame: "modal" } do %>
        <%= icon("edit", size: 16) %>
      <% end %>

      <% if current_user.admin? %>
        <%= link_to [product],
		    class: "join-item text-error btn btn-square btn-xs btn-ghost tooltip tooltip-left",
		    data: {
		      tip: "Archivia",
		      turbo_method: :delete,
		      turbo_confirm: "Sei sicuro di voler archiviare #{product.name}?"
		    } do %>
          <%= icon("delete", size: 16) %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
