<%= turbo_stream_from "products" %>

<% content_for :page_title, "Prodotti" %>

<%# content_for :page_counter, t("search.results", count: @pagy.count) %>

<% content_for :page_actions do %>
  <%= link_to [:new, :product],
	      class: "btn btn-primary gap-2",
	      data: { turbo_frame: "modal" } do %>
    <%= icon("add", size: 20) %>
    <span class="hidden sm:inline"><%= t("actions.new", default: "Nuovo") %></span>
  <% end %>
<% end %>

<!-- TODO filters -->

<%= render "shared/header/page" %>

<%= render "shared/filter/active", filter_keys: @keys %>

<%= render "shared/table", pagy: @pagy do %>
  <thead>
    <tr>
      <th class="pl-6">Nome Prodotto</th>
      <th>Discipline Incluse</th>
      <th class="text-center">Durata</th>
      <th class="text-center">Categoria</th>
      <th class="text-right pr-6">Prezzo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "product_row", collection: @products, as: :product %>

    <% if @products.empty? %>
      <tr>
        <td colspan="6" class="text-center py-10 opacity-50 italic">
          Nessun prodotto nel listino.
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
