<tr>
  <%# DATA %>
  <td class="pl-6 font-mono text-sm opacity-80">
    <%= format_date(sale.sold_on, format: :long) %>
  </td>

  <%# RICEVUTA %>
  <td class="font-mono font-bold text-xs">
    <%= display_value(sale.receipt_code) %>
  </td>

  <%# SOCIO %>
  <td>
    <%= link_to sale.member.full_name, member_path(sale.member), class: "font-bold text-base-content hover:text-primary transition-colors truncate" %>
  </td>

  <%# PRODOTTO %>
  <td>
    <div class="font-medium"><%= sale.product_name_snapshot %></div>

    <div class="text-[10px] opacity-50 flex items-center gap-1">
      <%= icon("badge", size: 10) %> op: <%= sale.user.username %>
    </div>
  </td>

  <%# METODO PAGAMENTO %>
  <td class="text-center">
    <% case sale.payment_method %>
    <% when 'cash' %>
      <div class="badge badge-success badge-outline gap-1 text-xs">
        <%= icon("payments", size: 12) %> Contanti
      </div>
    <% when 'credit_card' %>
      <div class="badge badge-info badge-outline gap-1 text-xs">
        <%= icon("credit_card", size: 12) %> Carta
      </div>
    <% else %>
      <div class="badge badge-ghost badge-outline text-xs">
        <%= sale.payment_method.humanize %>
      </div>
    <% end %>
  </td>

  <%# IMPORTO %>
  <td class="text-right pr-6 font-mono font-bold text-lg">
    <%= format_money(sale.amount) %>
  </td>

  <%# AZIONI %>
  <td class="text-right w-1 pr-4 align-middle">
    <div class="join">
      <%= link_to [sale],
		  class: "join-item btn btn-square btn-xs btn-ghost tooltip tooltip-left",
		  data: { tip: "Dettaglio" } do %>
        <%= icon("view", size: 16) %>
      <% end %>

      <% if current_user.admin? && sale.created_at > 24.hours.ago %>
        <%= link_to [sale],
		    class: "join-item text-error btn btn-square btn-xs btn-ghost tooltip tooltip-left",
		    data: {
		      tip: "Archivia",
		      turbo_method: :delete,
		      turbo_confirm: "Sei sicuro di volerla archiviare?"
		    } do %>
          <%= icon("delete", size: 16) %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
